ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    max-width: 252px;
}

.cell {
    width: 28px;
    max-width: 28px;
    height: 28px;
    max-height: 28px;
    display: inline-block;
    vertical-align: top;
}

.mine {
    background-color: orange;
    color: red;
}

._0 {
    color: gray;
}

._1 {
    color: blue;
}

._2 {
    color: green;
}

._3 {
    color: red;
}

._4 {
    color: purple;
}

._5 {
    color: orange;
}

._6 {
    color: yellow;
}

h1 {
    text-align: center;
}
